*/target/**
/RESTUI/RESTServiceForUI/target/
/RESTClient/HttpClientJDK12/target/
/RESTClient/ClientServiceProvider/target/
/RESTClient/OKHttpRESTClient/target/
/RESTClient/JerseyRESTClient/target/
/RESTClient/SpringRESTClient/target/
/RESTClient/UnirestRESTClient/target/
/RESTClient/JDK12HttpClient/target/
/RESTServer/JoobyRESTServer/target/
/RESTServer/SpringBootRESTServer/target/
/RESTServer/SparkRESTServer/target/
/RESTServer/JavalinRESTServer/target/
/RESTServer/HelidonRESTServer/target/
/RESTServer/ProteusRESTServer/target/
/RESTServer/VertxRESTServer/target/
/RESTServer/QuarkusRESTServer/target/
/RESTServer/MicronautRESTServer/target/
/RESTServer/PlayRESTServer/target/
/RESTClient/RetrofitRESTClient/target/