/RESTCore/target/
/RESTClient/ClientServiceProvider/target/
/RESTClient/HttpClientJDK11/target/
/RESTClient/JerseyRESTClient/target/
/RESTClient/OKHttpRESTClient/target/
/RESTClient/SpringRESTClient/target/
/RESTClient/UnirestRESTClient/target/
/RESTServer/SparkRESTServer/target/
/RESTServer/SpringBootRESTServer/target/
/RESTServer/ProteusRESTServer/target/
/RESTServer/JoobyRESTServer/target/
/RESTServer/HelidonRESTServer/target/
/RESTServer/JavalinRESTServer/target/
/RESTServer/VertxRESTServer/target/
/RESTServer/JerseyInPayaraServer/target/
/RESTServer/JerseyInTomcatServer/target/
/RESTServer/RestEasyInWildflyServer/target/
/RESTUI/RESTServiceForUI/target/
/RESTUI/UIChart/target
